.profile-pic{
  width:100px;
  display: block;
  /* margin-left: auto;
  margin-right:auto;
  padding:10px; */
  margin: 10px auto;
}

.user-info h3{
  text-align: center;
  margin:10px;
}

.js-search-form, .filter-options, .create-new-button{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.create-new-button{
  width:200px;
  display: block;
}

select{
  margin:10px;
}

/* Modal Stuff */
.create-new-modal {
  display: none; 
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.create-new-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.create-new-form{
  text-align: center;
}

.create-new-form label{
  display:block;
  margin:auto;
}

/* The List */
ul, li{
  list-style: none;
}

a, a:hover, a:active{
  text-decoration: none;
}

.DoneIt{
  border:5px solid #5dba94;
  border-top: 0;
}

.TryIt{
  border: 5px solid #701705;
  border-top: 0;
}

.DoneIt .item-heading{
  background-color: #5dba94;
}

.TryIt .item-heading{
  background-color:#701705;
}

a.item-heading-element{
  padding:15px;
  display:block;
  color: white;
  font-weight: bold;
}

.left{
  text-align: left;
}

.middle{
  text-align: center;
}

.right{
  text-align: right;
}

.item-element{
  margin: 10px 0;
}

.inactive-anchor{
  pointer-events: none;
  cursor:default;
}

.float-right{
  float:right;
  margin-top:15px;
  position:relative;
  margin-right: 5px;
}

.edit-span{
  position: absolute;
  background-color: black;
  right:40px;
  top:-15px;
  color:white;
  padding:1px;
  opacity: 0;
  font-size:11px;
  transition: opacity .5s;
}

.delete-span{
  position: absolute;
  background-color:black;
  right:-2px;
  top:-15px;
  color:white;
  padding:1px;
  opacity: 0;
  font-size:11px;
  transition: opacity .5s;
}

/* changes the icon's description opacity */
.edit-item:hover + .edit-span, .delete-item:hover + .delete-span, .edit-item:focus + .edit-span, .delete-item:focus + .delete-span{
  opacity: 1; 
} 

.delete-item, .edit-item {
  background-color: transparent;
  border: none;
  color:white;
}

.delete-item:hover, .edit-item:hover, .delete-item:focus, .edit-item:focus{
  background-color: transparent;
  color: black;
  border: none;
}